/*********************************************

This css uses linear-gradient, background image with some opacity
and some typgraphy adjustments on the section and header.

**********************************************/
/* the whole body's image, its size and margin*/
body {
  margin: 0;
  background: url(2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* haiku section font, font size, aliging text to the center with 7 rem line height and 12 rem top margin. */
#haiku {
  font-family: fantasy;
  font-size: 3rem;
  text-align: center;
  line-height: 7rem;
  margin-top: 12rem;
}

/* header text with center fantasy white 1.5 rem text, gradient background, manuel padding with .95 opacity. */
header {
  text-align: center;
  background-image: linear-gradient(to right, blue , yellow);
  padding: 1%;
  padding-bottom: .3%;
  color: white;
  font-family: fantasy;
  font-size: 1.5rem;
  line-height: 1.5rem;
  opacity: 0.95;
};
