body {
  font-family: MAK, serif;
  background-color: #fcd3d9;
}

/* heading 1 */
h1 {
  font-size: 4em;
  text-align: center;
  color: red;
  margin-bottom: 0;
}

/* intro paragraph */
.intro-text {
  text-align: center;
  font-size: 1.1em;
  line-height: 1.7em;
}

/* displays the grid */
.grid-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  margin-top: 25px;
  background-color: #fff380;
  margin-bottom: -1%;
}

/* for each grid */
.quiz-grid {
  border: 4px solid #fcd3d9;
  font-size: 40px;
  position: relative;
  margin-bottom: 0%;
}

h4{
  padding: 5px;
  margin: 10px;
  font-size: 1.4rem;
  margin-bottom: 0%;
}

.spacing {
  line-height: 2em;
}

/* the answer id's margins and border numbers */
#answer {
  font-size: 2.5rem;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
  height: 3rem;
  border-bottom: 3px solid white;
}

/* color for the hidden letters */
.found {
  outline: gray dotted 1px;
}

/* gif width */
img{
  width: 17rem;
}
