body {
  font-family: MAK, serif;
  background-color: pink;
}

/* heading 1 */
h1 {
  font-size: 4em;
  text-align: center;
  color: red;
  margin-bottom: 0;
}

/* intro paragraph */
.intro-text {
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
}

/* displays the grid */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 60px;
}

/* for each grid */
.quiz-grid {
  border: 4px solid #FEFEBE;
  font-size: 30px;
}

h4{
  margin: 15px;
}

/* everything except the video is postion relative */
article {
  position: relative;
}

/* Title style */
h2 {
  font-size: 3rem;
  color: white;
  margin-left: 2rem;
  margin-top: 3rem;
}

/* div for the dot named circles style */
.circles {
  margin-left: 25%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid white;
  background-color: white;
  display: inline-block;
  padding: 3rem;
}

/* empty div/dots style */
.empty {
  padding-right: 45px;
  padding-left: 48px;

}

/* red dots style */
.red {
  text-align: center;
  height: 45px;
  width: 40px;
  background-color: #FF0015;
  border-radius: 43%;
  display: inline-block;
}

/* yellow dots style */
.yellow {
  height: 45px;
  width: 38px;
  background-color: #FEB800;
  border-radius: 47%;
  display: inline-block;
}

/* blue dot style */
.blue {
  height: 40px;
  width: 47px;
  background-color: #00B1F6;
  border-radius: 45%;
  display: inline-block;
}

/* Paragraph style */
.game {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 2.5rem;
  line-height: 3.5rem;
}

/* the answer id's margins and border numbers */
#answer {
  font-size: 2.5rem;
  text-align: center;
  margin-right: 40%;
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 2%;
  height: 3rem;
  border-bottom: 3px solid white;
}

/* color for the hidden letters */
.found {
  outline: white dotted 1px;
}

/* gif width */
img{
  width: 17rem;
}
