body {
  background-image: url("assets/images/homepage_bg_image.png");
  font-family: MAK, serif;


}


h1 {
  font-size: 4em;
  text-align: center;
  color: red;
  margin-bottom: 0;
}

p {
  text-align: center;
  font-size: 1em;
  line-height: 1.3em;
}
