/* background color and font */
body {
  background-color: #FEFEBE;
  font-family: MAK, serif;
}

/* heading 1 */
h1 {
  font-size: 4em;
  text-align: center;
  color: red;
  margin-bottom: 0;
}

/* intro paragraph */
.intro {
  text-align: center;
  font-size: 1em;
  line-height: 1.3em;
}

/* displays the grid */
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* for each grid */
.quiz-grid {
  border: 4px solid #FEFEBE;
  padding: 17%;
  font-size: 30px;
  text-align: center;
}

/* background color for each quiz */
#quiz-1, #credit {
  background-color: #05efef;
}

/* background color for each quiz */
#quiz-2, #quiz-3 {
  background-color: #ff4747;
}

/* link to other html pages */
a {
  text-decoration: none;
  color: black;
}

/* the color of the link change when hovered over */
a:hover {
  color: white;
}

/* for the credits */
.ending {
  margin: -4%;
  font-size: .8em;
}
